{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'training/css/styles.css' %}" rel="stylesheet" />
    <title>{{title}}</title>
</head>
<body>
    <header class="header">
        <div class="header__inner">
            <a class="btn__home" href="#"></a>

            <div class="header__logo">Do it again!</div>

            <a class="btn__profile" href="#"></a>
        </div>
    </header>
    <div class="intro">
    {% block mainmenu %}
    <h1>{{title}}</h1>
    <ul>
        {% for i in menu %}
        <li><a href="{% url i.url_name %}">{{i.title}}</a></li>
        {% endfor %}
    </ul>
    {% endblock mainmenu %}
    {% block content %}
    {% endblock content %}
    </div>
    <footer class="footer">
        <div class="footer__inner">
            <div class="footer__text">Made by AlexGod and Lobashik</div>
        </div>
    </footer>
</body>
</html>