{% extends 'training/base.html' %}

{% block content %}
<div class="container_index">
    <div class="about-text">
    <p>"Do it again" уникальный сайт для всех спортсменов от любителей фитнеса до тяжелоатлетов и бодибилдеров.</p>
    <p>Здесь Вы найдете базу упражнений с текстовым и визуальным описанием на необходимые группы мышц.
        Дополнительной возможностью сайта является создание собственных тренировок с выбранными упражнениями.</p>
    <p>По всем вопросам обращаться к разработчикам сайта:</p>
    <p>Д.А. Лобанев - dalobanev_1@edu.hse.ru</p>
    <p>А.М. Борходоев - amborkhodoev@edu.hse.ru</p>
    </div>
</div>
{% endblock content %}