{% extends 'training/base.html' %}

{% block content %}

<div class="login_container">
    <div class="log_in">
        <h2>Вход</h2>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <div class="line"><label for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</div>
            <div>{{ f.errors }}</div>
            {% endfor %}
        <button class="btn__log_in"><h3>Войти</h3></button>
    </form>
    <p>или <a href="/register/">регистрация</a>.</p>
</div>
{% endblock content %}